<!DOCTYPE html>
<html>
<head>
  <title>Vekii</title>
</head>
	<body>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
		<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
		<script src="https://raw.github.com/cowboy/jquery-bbq/master/jquery.ba-bbq.js"></script>

		<button id="google-login">
			Google Login
		</button>

		</br>

		<button id="add-friend">
			Add Friend
		</button>
		
		</br>

		<button id="basic-ajax-request">
			Basic Ajax Request
		</button>
		
		</br>

		<ul id="friends-list">
		</ul>

		<script type="text/javascript">
		// link for testing environment
		var googleLoginLink = "https://accounts.google.com/o/oauth2/auth?";
		var client_id = "client_id=908038792880-vm3862hmpnp7u6gnmgd8104g8u7r1sr1.apps.googleusercontent.com";
		var redirect_uri = "redirect_uri=http://localhost:3000/oauth2callback";
		var gscope = "scope=https://gdata.youtube.com";
		var response_type = "response_type=token";
		var googleLoginLink = googleLoginLink + client_id + '&' + redirect_uri + '&' + gscope + '&' + response_type;
		// to-do
		// link for production environment

	(function ($) {
		$.ajaxSetup ({
			cache: false
		});

		var ajax_load = "<img class='loading' src='img/load.gif' alt='loading...' />";

		Friend = Backbone.Model.extend({
			//Create a model to hold friend atribute
			name: null
		});

		Friends = Backbone.Collection.extend({
			//This is our Friends collection and holds our Friend models
			initialize: function (models, options) {
				this.bind("add", options.view.addFriendLi);
				//Listen for new additions to the collection and call a view function if so
			}
		});

		AppView = Backbone.View.extend({
			el: $("body"),
			initialize: function () {
				this.friends = new Friends( null, { view: this });
				//Create a friends collection when the view is initialized.
				//Pass it a reference to this view to create a connection between the two
			},
			events: {
				"click #add-friend":  "showPrompt",
				"click #google-login":  "getAccessToken",
				"click #basic-ajax-request": "basicAjaxRequest"
			},
			
			showPrompt: function () {
				var friend_name = prompt("Who is your friend?");
				var friend_model = new Friend({ name: friend_name });
				//Add a new friend model to our friend collection
				this.friends.add( friend_model );
			},
			
			getAccessToken: function() {
				$("#friends-list").append("<li>" + "getAccessToken called" + "</li>");
				jQuery.ajax(googleLoginLink);
				
				$.ajax({
					type: "GET",
					url: googleLoginLink,
					dataType: "json",
					success: function(data, textStatus) {
						if (data.redirect) {
							// data.redirect contains the string URL to redirect to
							window.location.href = data.redirect;
						} else {
							// data.form contains the HTML for the replacement form
							$("#myform").replaceWith(data.form);
						}
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
					        alert(XMLHttpRequest.getResponseHeader('some_header'));
					   }
				});
			},
			
			basicAjaxRequest: function() {
				$("#friends-list").append("<li>" + 'basicAjaxRequest function called' + "</li>");
			}
						
			addFriendLi: function (model) {
				//The parameter passed is a reference to the model that was added
				$("#friends-list").append("<li>" + model.get('name') + "</li>");
				//Use .get to receive attributes of the model
			}
		});

		var appview = new AppView;
		})(jQuery);
		</script>

	</body>
</html>