<!-- JAVASCRIPT-->
<script language="javascript" type="text/javascript" src="bootstrap.js"> </script>
<script language="javascript" type="text/javascript" src="cvi_busy_lib.js"> </script>
<script language="javascript" type="text/javascript" src="cookie.js"> </script>
<script language="javascript" type="text/javascript" src="validate_token.js"> </script>
<script language="javascript" type="text/javascript" src="player.js"> </script>
<script language="javascript" type="text/javascript" src="retrieve_playlists.js"> </script>
<script language="javascript" type="text/javascript" src="yt_player.js"> </script>
<script language="javascript" type="text/javascript" src="vekii_backbone.js"> </script>
<script language="javascript" type="text/javascript" src="search.js"> </script>

<!-- TEMPLATES -->

<!-- BODY -->
<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-tabs">
		  	<li class="active">
				<a href="#home" data-toggle="tab">
					<h3>Playlists</h3>
				</a>
			</li>
		  	<li>
				<a href="#profile" data-toggle="tab">
					<h3>Subs</h3>
				</a>
			</li>
		</ul>
		
		<!-- <a class="btn" href=<%= @googleLoginLink %>> Login </a> -->

		<div class="well" style="padding: 8px 0px;">
			<ul id="playlists" class="nav nav-list">				
		    </ul>
		</div>
	</div>
	<div id="mid" class="span6">
		<center>
			<div class="width_player">
				<table class="width_100_percent">
				    <tr>
				        <td>
							<h1 class="inline float_left">
								Vekii&nbsp
							</h1>
						</td>
				        <td class="width_100_percent">
							<form class="navbar-search float_left inline padding_top_search width_search">
				               	<input type="text" class="height_search width_100_percent" placeholder="Search">
				           	</form>
						</td>
				        <td>
							<ul class="nav nav-pills padding_top_login_button pull-right">
							  <li class="dropdown pull_right" id="settings">
							   	<a id="options" class="dropdown-toggle border_style_solid border_width_1px" data-toggle="dropdown" href="#settings">
							    </a>
							    <ul class="dropdown-menu">
							    	<li><a href="javascript:sync()"> Resync </a></li>
							        <li><a href="javascript:sign_out()">Sign Out</a></li>
							    </ul>
							  </li>
							</ul>
						</td>
				    </tr>
				</table>
				<div id="yt_api_player_wrapper" class="padding_top_player">
					<div id="yt_api_player">
					</div>
				</div>
				<ul class="nav nav-pills inline">
				  <li class="dropdown" id="menu2">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
				      Add to
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="#">Action</a></li>
				      <li><a href="#">Another action</a></li>
				      <li><a href="#">Something else here</a></li>
				      <li class="divider"></li>
				      <li><a href="#">Separated link</a></li>
				    </ul>
				  </li>
				</ul>
				<a class="btn float_right" href=""> Replay </a>
			</div>
		</center>				
		<div id="console">
		</div>
	</div>
	
	<div class="span3">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#home" data-toggle="tab">
					<h3> Recommended </h3>
				</a>
			</li>
		</ul>
		
		<div class="well" style="padding: 8px 0px;">
			<ul id="recommended" class="nav nav-list">
		    </ul>
		</div>
	</div>
</div>

<div id="output">
</div>

</br>

<ul id="friends-list">	
</ul>

<div id="container">
</div>




​
