<!-- JAVASCRIPT-->
<script language="javascript" type="text/javascript" src="/assets/vekii/validate_token.js"> </script>
<script language="javascript" type="text/javascript" src="/assets/vekii/retrieve_playlists.js"> </script>
<script language="javascript" type="text/javascript" src="/assets/vekii/yt_player.js"> </script>
<script language="javascript" type="text/javascript" src="/assets/vekii/vekii_backbone.js"> </script>

<!-- TEMPLATES -->
<script type="text/template" id="playlists_template">
  <h1>Playlists</h1>
  <ul class="playlists">
  </ul>
</script>

<!-- BODY -->
<div class="row-fluid">
    <div class="span2">
    	<div id="playlists">
		</div>
    </div>

	<div class="span8">
		<!-- youtube video -->
		<center>
			<div id="yt_api_player">
		    	You need Flash player 8+ and JavaScript enabled to view this video.
			</div>
		</centerot>
	</div>
	
    <div class="span2">
		<div id="playlist">
		</div>
	</div>
</div>

<!-- Embedding the YouTube player using SWFObject: https://developers.google.com/youtube/js_api_reference#Examples-->
<script type="text/javascript">
	var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
	// swfobject.embedSWF will load the player from YouTube and embed it onto your page.
    swfobject.embedSWF("http://www.youtube.com/v/u1zgFlCw8Aw?enablejsapi=1&playerapiid=ytplayer&version=3",
                       "yt_api_player", "425", "356", "8", null, null, params, atts);
</script>

<div id="output">
</div>

</br>

<ul id="friends-list">	
</ul>

<body>
  <div id="container">
  </div>
</body>
</html>



