<div class="row-fluid">
    <div class="span2">
    	<div id="playlists">
		</div>
    </div>

	<div class="span8">
		<!-- youtube video -->
		<div id="yt_video">
			<object width="560" height="315">
				<param id="youtube-link" name="movie" value="https://www.youtube.com/v/u1zgFlCw8Aw?version=3&autohide=1&showinfo=0&enablejsapi=1&playerapiid=ytplayer"></param>
				<param name="allowScriptAccess" value="always"></param>
				<embed src="https://www.youtube.com/v/u1zgFlCw8Aw?version=3&autohide=1&showinfo=0&enablejsapi=1&playerapiid=ytplayer"
				type="application/x-shockwave-flash"
				allowscriptaccess="always"
				width="560" height="315"></embed>
			</object>
		</div>
	</div>
	
    <div class="span2">
		<div id="playlist">
		</div>
	</div>
</div>

<div id="output">
</div>

</br>

<ul id="friends-list">	
</ul>

<script type="text/javascript">
/*
* Simple player embed
*/

// The video to load.
var videoID = "ylLzyHk54Z0"
// Lets Flash from another domain call JavaScript
var params = { allowScriptAccess: "always" };
// The element id of the Flash embed
var atts = { id: "ytapiplayer" };
// All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
swfobject.embedSWF("http://www.youtube.com/v/" + videoID + "?version=3&enablejsapi=1&playerapiid=player1", 
                   "videoDiv", "480", "295", "9", null, null, params, atts);


  </script>

<div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
  </div>

<script language="javascript" type="text/javascript" src="vekii.js"> 
</script>
<script language="javascript" type="text/javascript" src="backbone.js"> 
</script>

