// Place all the styles related to the frontpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// this is to align the search icon with the search bar
.border_width_1px {
	border-width:1px;
}

.border_style_solid {
	border-style: solid;
}

.center {
	float: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.height_search {
	height: 14px;
}

.height_ddm {
	max-height: 175px;
	overflow: auto;
}

icon_size {
	height: 10px;
	width: 10px;
}

.img {
	align: right;
	height: 50px;
	position: absolute;
	width: 80px;
}

.playlist_img_txt {
	position: relative;
}

.img_txt {
	padding: 0px 0px 0px 85px;
	position: relative;
}

.inline {
	display: inline;
}

.inline_block {
	display: inline-block;
}

.playlist_list_img_and_txt {
	position: relative;
}

.list_img_and_txt {
	height: 58px;
	position: relative;
}

.menu {
	position: relative;
}

.padding_icon_remove {
	margin-top: 5px;
}

.padding_top_caret {
	padding-top: -500px;
}

.padding_top_player {
	margin-top: -7px;
}

.padding_top_login_button {
	padding-top: 15px;
}

.padding_top_search {
	padding-top: 3px;
}

.position_absolute {
	position: absolute;
}

.position_relative {
	position: relative;
}

.right_ddmenu {
	right:1px;
}

.width_100_percent {
	width: 100%;
}

.width_img_and_txt {
	width: 95%;
}

.width_player {
	width: 640px;
}

.width_search {
	width: 96%;
}

